.galeriaContainer {
    position: relative;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 50px -10px rgba(black, .3);

    .scroll {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.8);
        z-index: 10;
        flex-direction: column;
        gap: 1.5em;
        justify-content: center;
        align-items: center;
        pointer-events: none;

        p {
            color: white;
        }

        img {
            width: 50px;
            height: auto;
            animation: bounce 1.5s infinite;
        }

        @keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
                transform: scale(1);
            }

            40% {
                transform: scale(.8);
            }

            60% {
                transform: scale(.9);
            }
        }
    }

    .swiper {
        display: flex;
        overflow: visible;
        width: 100%;

        --swiper-theme-color: white;

        :global(.swiper-button-prev) {
            border-radius: 300px;
            background: rgba(black, .8);
            height: 70px;
            width: 70px;
        }

        :global(.swiper-button-next) {
            border-radius: 300px;
            background: rgba(black, .8);
            height: 70px;
            width: 70px;
        }
    }

    .swiperSlide {
        display: flex;
        position: relative;
        cursor: pointer;
        height: 40vh;
        justify-content: center;

        .swipperWrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            &:hover{
                .fullscreen{
                    scale: 1.1;
                    transition: .3s;
                }
            }

            .caption {
                gap: .3em;
                padding: 2rem 0;
                transition: .3s ease;

                h4,small,div{
                    width: 80%;
                }

                h4 {
                    font-size: 1.2rem;
                    color: white;
                }

                small {
                    font-size: .9rem;
                    color: var(--h4-wcolor);
                }

                &:hover {
                    opacity: .8;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
            }
        }
    }
}

.fullscreen {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 300px;
    background-color: white;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.caption {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .6), rgba(0, 0, 0, .9));

    .numbering{
        display: flex;
        justify-content: space-between;

        p{
            font-family: var(--tl-font);
            color: var(--h4-wcolor);
        }
    }

    h4,
    small,
    div {
        width: 90%;
    }

    h4 {
        color: white;
        font-weight: var(--medium);
        font-size: 1.5em;
        letter-spacing: 2px;
    }

    small {
        font-family: var(--txt-font);
        color: var(--h4-wcolor);
        font-size: 1.2rem;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;

    .modalContent {
        max-width: 90%;
        height: 90%;
        background-color: transparent;

        .close {
            position: absolute;
            display: flex;
            align-items: center;
            top: 10px;
            right: 15px;
            color: #fff;
            font-size: 35px;
            font-weight: bold;
            cursor: pointer;
            height: 40px;
            z-index: 50;
        }

        .mediaWrapper {
            position: relative;
            width: 75vw;
            height: 100%;
            overflow: hidden;
            background-color: black;
            border-radius: 2em;
            display: flex;
            align-items: center;
            justify-content: center;

            .caption {
                animation: fadeIn .5s forwards;
            }

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            .modalMedia {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .prevButton,
    .nextButton {
        display: flex;
        background-color: transparent;
        position: absolute;
        border: none;
        color: #fff;
        font-size: var(--fs-h2);
        cursor: pointer;
        user-select: none;
        padding: 10px;
        width: 10%;
        z-index: 50;
        justify-content: center;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }

    .prevButton {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .nextButton {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .slideIndicator {
        color: #fff;
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.orientationWarning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-200);
    z-index: 50;
    opacity: 1;

    .rotateIcon {
        animation: fadeOut 2s forwards;
        animation-delay: 2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5em;

        img {
            width: 60px;
        }
    }
}

.fadeOut {
    animation: fadeOut 2s forwards;
    animation-delay: 2s;
}

@media (max-width: 950px) and (orientation: landscape){
    .mediaWrapper .caption{
        padding: 2rem .5rem !important;
        
        h4 {
            font-size: 1.3rem !important;
        }

        small {
            font-size: 1rem !important;
        }
    }
}

@media (max-width: 767px){
    .scroll {
        display: flex;
    }

    .fullscreen {
        display: none;
    }
}

@media (min-width: 768px){
    .scroll {
        display: none;
    }

    .fullscreen {
        display: flex;
    }

    .mediaWrapper .caption{
        padding: 4rem 2rem;
        
        h4 {
            font-size: 1.6rem;
            color: white;
        }

        small {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 1024px) {
    .swiper {
        :global(.swiper-button-prev) {
            scale: .8;
            left: 3%;
        }

        :global(.swiper-button-next) {
            scale: .8;
            right: 3%;
        }
    }
}

@media (min-width: 1025px) {
    .swiper {
        :global(.swiper-button-prev) {
            scale: .9;
            left: 10%;

        }

        :global(.swiper-button-next) {
            scale: .9;
            right: 10%;
        }
    }
}