.whatsapp-button {
  position: fixed;
  bottom: 4em;
  right: 6em;
  height: 6em;
  width: 6em;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  opacity: 0.8;
  transition: .5s;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 768px) {
    bottom: 2em;
    right: 2em;
    height: 5em;
    width: 5em;
  }
}
