.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80svh;
  padding: var(--padding-up) var(--padding-100);
}

.container header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

}

.button {
  color: black;
  padding: 1em 2em;
  border-radius: 300em;
  border: none;
  font-size: var(--fs-txt);
  font-weight: var(--bold);
  align-items: center;
  background: yellow;
}

@keyframes slide {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.heading,
.subHeading {
  animation: slide 1s ease-out;
}

.subHeading{
  color: var(--txt-wcolor);
}
