.container {
    padding: var(--padding-up) var(--padding-100);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background: var(--grad-fx);
    gap: 5em;
}

.img {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    position: relative;

    .slideshow {
        display: inline-flex;
        transition: transform 1s ease-in-out;
        width: 100%;
    }

    img {
        flex-shrink: 0;
        width: 100%;
        height: 10em;
        object-fit: contain;
    }
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    width: 70%;
    hyphens: auto;

}

// Animaciones

.txt {
    opacity: 0;
    transform: translateY(20px);
    transition: 2s ease;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width:768px){
    .container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2em;
        padding: 0;
    }

    .txt {
        width: 100%;
        padding: var(--padding-up) var(--padding-100) 0 var(--padding-100);

    }

    .img {
        padding-bottom: var(--padding-up);
        width: 100%;
    }
}