RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.isefsanluis\.net$ [NC]
RewriteRule ^(.*)$ http://isefsanluis.net/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
