.container {
    padding: var(--padding-up) var(--padding-100);

    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.txtCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5em;
    width: 100%;
}

.datos {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.dato {
    display: flex;
    border: 1px solid var(--principal);
    border-radius: 3rem;
    background: white;
    box-shadow: var(--shadow-out);
    align-items: center;
    overflow: hidden;

    .datoImg {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--principal);

        img {
            width: 2.5em;
        }
    }

    .datoTxt {
        display: flex;
        gap: 1rem;
        width: 100%;

        h3:first-of-type {
            text-decoration: underline;
            text-underline-offset: 5px;
            text-decoration-thickness: 1px;

            font-weight: var(--light);
            color: var(--principal);
        }

        h3:last-of-type {
            font-size: calc(var(--fs-h3) * .8);

            strong {
                font-weight: var(--light);
                color: var(--txt-bcolor);
            }
        }
    }
}

// Animaciones

.txtCont {
    opacity: 0;
    transform: translateX(-20px);
    transition: 2s ease;

    &.visible {
        opacity: 1;
        transform: translateX(0);
    }
}

@for $i from 1 through 6 {
    .dato:nth-child(#{$i}) {
        transition-delay: .15s * $i;
    }
}

.datos {
    transform: translateX(-100px);
    transition: transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &.visible {
        transform: translateX(0);
    }
}

.dato {
    opacity: 0;
    transition: opacity 6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.visible {
        opacity: 1;
    }
}

@media (max-width: 1100px) and (min-width:850px) {
    .dato{
        width: 20rem;
    }
}

@media (max-width: 850px){
    .dato{
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .datos {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        gap: 5rem;
    }

    .dato {
        display: flex;
        flex-direction: column;
    }

    .datoImg {
        padding: 1rem 2rem;
        width: 100%;
    }

    .datoTxt {
        padding: 2rem 3rem;
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 1100px) {

    .container{
        padding: var(--padding-up) var(--padding-200);
    }

    .datoTxt {
        justify-content: flex-start;
        align-items: center;
        padding: 1.5rem 4rem;
    }

    .datos {
        row-gap: 3rem;
        justify-content: center;
    }

    .dato {
        width: 55rem;
        align-items: center;
    }

    .datoImg {
        display: flex;
        width: fit-content;
        height: 100%;
        padding: 1.5rem 4rem;
        justify-content: center;
        align-items: center;
        background: var(--principal);

        img {
            width: 2.5em;
        }
    }
}