.container {
    display: flex;
    padding: var(--padding-up) var(--padding-100) 3em var(--padding-100);
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    position: relative;
    // background-color: var(--fondo-principal);
    hyphens: auto;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.parrafos {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

// Animaciones

.titulo,
.parrafos {
    opacity: 0;
    transform: translateY(20px);
    transition: 2s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 1200px) {

    .titulo {
        text-align: center;
    }

    .parrafos {
        text-align: justify;
        text-align-last: center;
    }
}