.container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-up) var(--padding-100) 0 var(--padding-100);
    gap: 3rem;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    text-align-last: center;
    hyphens: auto;

    p a {
        color: var(--principal);
        opacity: .7;
        transition: .3s;

        &:hover {
            opacity: 1;
        }
    }
}

.sedes {
    display: flex;

    :global(.linea-svg) {
        opacity: .2;
    }
}

.sede {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: var(--shadow-out);
    border: 1px solid var(--principal);
}

.txt {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    background: var(--grad-btn-color);
    gap: .7rem;
}

.contactos {
    padding: 1rem 4rem 3rem 4rem;
    display: flex;
    row-gap: 3rem;
    justify-content: center;

    >:last-child p {
        font-weight: var(--medium);
        color: var(--principal);
    }
}

.contacto {
    display: flex;
    align-items: center;
    gap: 1rem;

    p a {
        text-underline-offset: 5px;
    }

    img {
        width: 3rem;
        object-fit: contain;
    }
}

@media (max-width:500px){
    .txt {
        padding: 2rem 3rem;
    }

    .contactos {
        padding: 1rem 2rem 3rem 2rem;
    }
}

@media (max-width: 700px) {

    .txt {
        text-align: left;
    }

    .sedes {
        display: flex;
        gap: 3rem;
        flex-direction: column;
    }

    .contactos {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 950px) and (min-width: 700px) {
    .contacto {
        width: 50%;
    }
}


@media (min-width: 950px) and (max-width: 1300px) {
    .contacto {
        width: 20rem;
    }
}

@media (min-width: 700px) and (max-width: 1300px) {
    .sedes {
        display: flex;
        gap: 3rem;
        flex-direction: column;
    }

    .sede {
        text-align: center;
        justify-content: center;
    }

    .contactos {
        display: flex;
        flex-wrap: wrap;
    }

    .contacto {
        flex-direction: column;
    }
}

@media (min-width: 1300px) {
    .txt {
        align-items: left;
    }

    .sedes {
        display: flex;
        gap: 3rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .sede{
        width: 48%;
    }

    .contactos {
        display: flex;
        flex-direction: column;
    }
}