.container {
    display: flex;
    padding: var(--padding-up) 0;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 4em;
    position: relative;
    overflow: hidden;
    hyphens: auto;
}

.txtCont,
.container img {
    width: 50%;
}

.txtCont {
    display: flex;
    padding: var(--padding-up) 0 var(--padding-up) var(--padding-100);
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    position: relative;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.parrafos {
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.container img {
    padding: 0;
    object-fit: cover;
    height: auto;
    width: 50%;
    border-radius: 10rem 0 0 10rem;
}

// Animaciones

.titulo,
.parrafos {
    opacity: 0;
    transform: translateY(20px);
    transition: 2s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
 
@media (max-width:768px) {
    .txtCont {
        align-items: left;
        text-align: left;
        text-align-last: none;
    }
}

@media (max-width: 1500px) {

    .container{
        padding: 0;
    }

    .container img {
        display: none;
    }
 
    .txtCont {
        width: 100%;
        padding: var(--padding-up) var(--padding-100); 
    }
}